In [1]:
!pip install Distance

Collecting Distance
  Downloading Distance-0.1.3.tar.gz (180 kB)
     |████████████████████████████████| 180 kB 4.5 MB/s
Building wheels for collected packages: Distance
  Building wheel for Distance (setup.py) ... done
  Created wheel for Distance: filename=Distance-0.1.3-py3-none-any.whl size=16276 sha256=537d99f0bf86a532ae2b396801bbfdd921b24a3b8f163a7213185caa07dd75e2
  Stored in directory: /root/.cache/pip/wheels/b2/10/1b/96fca621a1be378e2fe104cfb0d160bb6cdf3d04a3d35266cc
Successfully built Distance
Installing collected packages: Distance
Successfully installed Distance-0.1.3

In [2]:
#import libraries and dependences
import pandas as pd
import distance as dist

In [3]:
#upload dataset
profiles =  pd.read_csv('jobseekers.csv')
profiles.head(5)

,Title,Company,Experience,Location,key_Skills,Graduation,Post_Graduation,Salary_assumed
0,Senior Analyst - Data Science - Iit/nit/iim/xl...,Huquo Consulting Pvt. Ltd,2 - 5 years,Gurgaon/Gurugram,Data ScienceSASTableauQlikMachine LearningStat...,B.Tech/B.E. in Any Specialization,MBA/PGDM in Any Specialization,Not Disclosed
1,Senior Analyst - Data Science,Tiger Analytics India LLP,2 - 7 years,Kolkata,Data ScienceRArtificial IntelligenceData Analy...,B.Tech/B.E. in Any Specialization,NaN,Not Disclosed
2,Business Analyst Data Science & Analytics,Orcapod Consulting Services Private Limited,2 - 6 years,Noida,Predictive ModelingAzure cloudRAlgorithmsCampa...,"Any Graduate, B.Tech/B.E. in Any Specialization",Any Postgraduate,Not Disclosed
3,Data Analyst - Data Science & Analytics,TransUnion Software Services Pvt. Ltd,3 - 6 years,Chennai,Computer scienceLogistic regressionData analys...,B.Tech/B.E. in Computers,Post Graduation Not Required,Not Disclosed
4,Technical Analyst - Data Science,Nepa Production India Pvt Ltd,2 - 3 years,Mumbai,Data ScienceData AnalyticsPython,"BCA in Any Specialization, B.Sc in Any Special...","M.Tech in Any Specialization, MCA in Any Speci...",Not Disclosed

In [4]:
profiles['key_Skills'][0]

'Data ScienceSASTableauQlikMachine LearningStatisticsR ShinyAnalyticsPythonSQL'

In [5]:
#let's create a random job post
job_post = {
    'Title':'Technical Analyst - Data Science',
    'Experiencie': "2 - 3 years",
    'key_skills': 
    {       
     'Data Science',
     'Data Analytics',
     'Python'
    },
}

In [6]:
# Job post vars
title_job_post = list(job_post['Title'])
experience_job_post = job_post['Experiencie']
skills_job_post = list(job_post['key_skills'])

In [7]:
# since 'key_skills' column has joined-words by row, 
# we set a function to split by comparing with a predefined word list 
# (bank_skills below)

bank_skills = ['Data Science', 'Machine Learning','Data Analytics',
              'Artificial Intelligence', 'R', 'Python', 'SQL', 'SAS',
              'Tableau', 'Logistic regression', 'Computer science', 
              'Operations research', 'Analytical Consulting',
              'Business intelligence', 'Azure cloud', 'C++', 
              'Statistical Analysis', 'Anomaly Detection', 'Data Visualization',
              'Statistics', 'Data mining', 'CRM', 'Version control', 'R Shiny',
              'Financial services', 'Data extraction', 'Data Warehousing', 
              'Data quality' , 'Big Data', 'Problem solving', 'Excel' ,
              'Predictive Modeling' , 'Time Series', 'Risk management', 
              'Data science', 'Machine learning', 'SCALA', 'Hive', 'NLP',
              'Open source', 'MATLAB', 'Deep Learning', 'Hadoop', 
              'Data Management', 'Macros']
             # This list to extend yet

# set a function
def split_list_by_words(data_list, word_list):
  words_to_check = []
  for w in word_list:
    if w in data_list:
      words_to_check.append(w)
  return words_to_check

In [8]:
#we apply 'split_by_words' function in candidate's skills
all_candidate_skills = profiles['key_Skills']
user_skills = []
user_skills_str = []
for c in range(len(all_candidate_skills)):
  user_skills.append(split_list_by_words(all_candidate_skills[c], 
                                         word_list=bank_skills))
  #for aesthetic purposes we display our results as string 
  user_skills_str.append(','.join(user_skills[c]))
user_skills_str

['Data Science,Machine Learning,R,Python,SQL,SAS,Tableau,Statistics,R Shiny',
 'Data Science,Machine Learning,Data Analytics,Artificial Intelligence,R,Python',
 'Machine Learning,R,Python,Azure cloud,Statistical Analysis,Predictive Modeling,Time Series',
 'SQL,Logistic regression,Computer science,Operations research,Business intelligence,Financial services,Data extraction',
 'Data Science,Data Analytics,Python',
 'Data Science,Machine Learning,R,Python,Statistical Analysis,Data Management',
 'Data Science,Machine Learning,Data Analytics,R,Python,SQL,Anomaly Detection,Data Warehousing',
 'R,SQL,Operations research,Business intelligence,C++,Financial services,Risk management,Macros',
 'SQL,Operations research,Business intelligence,Financial services,Macros',
 'R,Python,SQL,Data mining,Machine learning,Macros',
 'R,Data mining,Risk management,Machine learning',
 'Data Science,Python,Tableau,Data Visualization,Statistics',
 'Python,SQL,Computer science',
 'R,Python,SQL,CRM,Version control,Machine learning',
 'Python,SQL,Data mining,Data quality',
 'Python,SAS',
 'Data Science,Tableau,Data Visualization',
 'R,SQL,Operations research,Business intelligence,C++,Financial services,Data extraction,Risk management,Macros',
 'Data Science,Data Analytics,R,Python,SQL,C++,Big Data,Excel',
 'Data Science,Machine Learning,R,Python,Hive,Deep Learning',
 '',
 'Data Science,Data Analytics,Python,SQL,Tableau,Big Data,Predictive Modeling,Data Management',
 'Data Science,Data Analytics,R,Python,SQL,SAS,Predictive Modeling,Data Management',
 'Data Science,Data Analytics,R,Python,SQL,SAS',
 'Data Science,Tableau,Excel',
 'Data Science,Machine Learning,Data Analytics,Python',
 'Data Science,Data Analytics,Python,SQL,Tableau,Statistics,Excel',
 '',
 'Data Science,Python,Tableau,Data Warehousing,Data Management',
 'Data Science,Data Analytics,Python,Data Visualization',
 'Data Science,Data Analytics,R,SQL,Tableau,Data Visualization,Excel',
 'Data Science,Machine Learning,Data Analytics,R',
 'R,Python',
 'Data Science,Data Analytics,Python,Data Visualization',
 'SQL',
 'Python,Tableau',
 '',
 'Data Science',
 'Python',
 'Data Science,R,Python',
 'Python,SQL,Logistic regression,Business intelligence,Machine learning',
 'Python,SQL,Computer science,Data quality,Machine learning',
 'Data Science,R,Python,SQL,Tableau,Excel,Data Management',
 'Data Science,R,Python,SQL,Tableau,Excel,Data Management',
 'SQL,Business intelligence,Machine learning',
 'Data Science,R,Python,SQL,Tableau,Excel,Data Management',
 'Data Science,R,Python,SQL,Tableau,Excel,Data Management',
 'Data Science,R,Python,SQL,Tableau,Excel,Data Management',
 'Python,Machine learning',
 'Data Science,Python,Tableau,Big Data,Predictive Modeling,Hadoop',
 'Data Science,Python,SQL,Statistics',
 'Data Science,R,Python',
 'Data Science,R,Python,SQL,Tableau,Excel,Data Management',
 'Data Science,R,Python,SQL,Tableau,Excel,Data Management',
 'Data Science,Machine Learning,Tableau',
 'Data Science,R,Python,SQL,Tableau,Excel,Data Management',
 'Data Science,Python,Predictive Modeling',
 'Data Science,Python,Predictive Modeling',
 'Data Science,Machine Learning,Statistics',
 'Python,SQL,MATLAB',
 'Data Science,Data Analytics,R,Data Visualization,Statistics,Big Data',
 'Data Science,Data Analytics,R,Data Visualization,Statistics,Big Data',
 'Data Science,R,Big Data,Excel',
 'Data Science,Data Analytics,R,Data Management',
 'Data Science,Machine Learning,R,Python,C++',
 'Data Science,Data Analytics,R,Data Visualization,Statistics,Big Data',
 'Data Science,Data Analytics,R,Data Visualization,Statistics,Big Data',
 'Data Science,R,Python,SQL,Data Visualization,Big Data,Hive,Hadoop',
 'Data Science,Data Analytics,Data Management',
 'Machine Learning,Data science',
 'Machine Learning,R,Python,SQL,Deep Learning',
 'Data Science,Machine Learning',
 'Data Science,Machine Learning,R,Python,Predictive Modeling',
 'Data Science,Machine Learning,Data Analytics,Python,Statistical Analysis,Big Data',
 'Data Science,R,Python,Data Visualization,Big Data,Data Management',
 'Data Science,Data Analytics,R,Python,Big Data',
 'Data Science,Machine Learning,R,Python,SQL',
 'Data Science,Data Analytics,R,Python,SQL,Predictive Modeling',
 'Data Science,Machine Learning,R,Python,Data Visualization,Big Data,Data Management',
 'R,SQL,CRM',
 'Python,SQL,Computer science',
 'Data Science,Machine Learning,R,Statistics',
 'Data Science,Machine Learning,Artificial Intelligence,R,Python,SQL,Tableau',
 'Data Science,Python,Big Data',
 'Data Science,Machine Learning,Predictive Modeling',
 'Data Science,Machine Learning,Python,SQL,Tableau',
 'Data Science,Machine Learning,Python',
 'Data Science,Machine Learning,Python',
 'Data Science,Python,Tableau',
 'Data Science,Python,Tableau,Big Data',
 'Data Science,Machine Learning,Python,Predictive Modeling',
 'Data Science,R,Python,Statistics',
 'Data Science,Machine Learning,Data Analytics,Python,Hadoop',
 'Data Science,Machine Learning,Data Analytics,R,Python,Big Data,Predictive Modeling',
 'R,Python,Excel',
 'Data Analytics,SQL,Tableau,Data Visualization,Excel,Predictive Modeling',
 'Data Science,Machine Learning,Data Analytics,R',
 'Python,SQL',
 'Data Science,Data Analytics,Python,Tableau,Data Warehousing',
 'Data Science,Machine Learning,Data Analytics,R',
 'Python,SQL,Computer science,Machine learning,SCALA',
 'Data Science,Machine Learning,Python,Data Warehousing,Hadoop',
 'Data Science,Data Analytics,R,Python,Big Data',
 'Data Science,Machine Learning,Python,Deep Learning',
 'Data Science,Machine Learning',
 'Data Science,Big Data,Excel',
 'Data Science,R,Python,Big Data',
 'Data Science,Machine Learning,R,Python,Deep Learning',
 'Data Science,Machine Learning,Python',
 'Data Science,Machine Learning,Artificial Intelligence,R,Python,Big Data,Hive,NLP,MATLAB,Deep Learning',
 'Data Science,Machine Learning,Data Analytics,Predictive Modeling,Data Management',
 'Data Science,Machine Learning,Artificial Intelligence,R,Python,SQL,Tableau,MATLAB',
 'Data Science,Big Data',
 'Data Science,Machine Learning,R,Python,Time Series,Deep Learning',
 'Data Science,Machine Learning,Python,Time Series,Deep Learning',
 'Data Science,Machine Learning,Python,Deep Learning',
 'Data Analytics,Python,SQL',
 'Data Science,Data Analytics,R,Python,SQL,Tableau,Data Visualization,Excel,Predictive Modeling',
 'Artificial Intelligence,Python,SQL,SAS',
 'Data Science,Machine Learning,R,SQL,Statistical Analysis,R Shiny,Deep Learning',
 'R,Machine learning',
 'Python,Logistic regression,Computer science,Statistics,Machine learning',
 'Python,Logistic regression,Computer science,Statistics,Machine learning',
 'Data Science,Tableau',
 'Data Science,Machine Learning,Data Analytics,Python,SQL,NLP,Data Management',
 'Data Science,Machine Learning,Data Analytics,Artificial Intelligence,Python,SQL,Data Visualization,Statistics,Data Warehousing,Big Data,Data Management',
 'Data Science,Machine Learning,Data Analytics,Python,Data Management',
 'Data Science,R,Python,SQL,Time Series',
 'Statistics,Machine learning',
 'Logistic regression,Computer science,Machine learning',
 'R,Python,Statistics,Machine learning',
 'Statistics,Data mining',
 'Data Science,Machine Learning,Python,Big Data',
 'Python,SQL,Computer science,Business intelligence,Machine learning',
 'Python,SQL,Data mining,Machine learning',
 'Data Science,Data Analytics,Python,Big Data,Hadoop',
 'Data Science,Machine Learning,Data Analytics,Artificial Intelligence,Statistics,Big Data',
 'Data Science,Data Analytics,Big Data',
 'R',
 'Data Science,Python,Big Data,Hadoop',
 'Data Science,Data Analytics,Python,SQL',
 'Python,Computer science,Data mining,Data extraction,Data quality',
 'Python,Computer science,Data mining,Data extraction,Data quality',
 'Data Science,R,Python,Tableau,Hive',
 'Python,SQL,Computer science,Machine learning',
 'R,SQL,Business intelligence',
 'Data Science,Python,Tableau,Data Visualization',
 'Data Science,Machine Learning,Artificial Intelligence,R,Python,SQL,Predictive Modeling',
 'R,Machine learning',
 'Python,Computer science,Operations research,Machine learning',
 'Data Science,Artificial Intelligence,Python,SQL,Statistics',
 'Python,Machine learning',
 'R,Python,Computer science,Machine learning',
 'Python,SQL,Computer science,Machine learning',
 'Python,SQL,Financial services',
 'Artificial Intelligence,SQL,Computer science,Machine learning',
 'Machine Learning,Python,Deep Learning',
 'Data Science,Machine Learning,R,Python',
 'Python,SQL',
 'Python,SQL,SAS',
 'Data Science,Machine Learning,R',
 'SQL',
 'Python,SQL',
 'SQL,Financial services',
 'Data Science,Python',
 'Data Science,Python',
 'Data Science,Machine Learning,Python,Data Visualization,Predictive Modeling,Deep Learning',
 'Data Science,Machine Learning,Artificial Intelligence,R,Python,SQL,Predictive Modeling,Time Series,Deep Learning',
 'Data Science,SQL',
 'Data Science,Machine Learning,Python',
 'Data Science,Machine Learning,Python,Statistics',
 'Data Science,R,Python',
 'Python',
 'Data Science,Data Analytics,SQL,Statistics,Data Management',
 'Python,Computer science,Data mining',
 'Data Science,Python,SQL',
 'Computer science,Machine learning',
 'R,Python,SQL,Data mining',
 'Python,SQL,Computer science,Operations research,Machine learning',
 'Python,SQL,Computer science,Data quality',
 'SQL,Logistic regression,Computer science',
 'Data Science,Python,SQL,Tableau,Statistics,Excel',
 'Data Science,Machine Learning',
 'Data mining,Machine learning',
 'Computer science,Machine learning',
 'Python,SQL,SAS,Business intelligence,C++',
 'R,Python,SQL,SAS,Computer science',
 'Data Science,Machine Learning,R,Python,SQL,Time Series',
 'Python,Logistic regression,Computer science,Machine learning',
 'Python,Machine learning',
 'Data Science,Data Analytics,SQL,Data Management',
 'Data Science,Machine Learning,Data Analytics,Data Management',
 'R,Computer science,Open source',
 'Data Science,Machine Learning,Data Analytics,Python,SQL,Predictive Modeling,Data Management',
 'Data Science,Machine Learning,Data Analytics,Python,Data Management',
 'Data Science,Machine Learning,Data Analytics,Python,Data Management',
 'Data Science,Machine Learning,Data Analytics,Python,Data Management',
 'Data Science,Machine Learning,Data Analytics,Python,Data Management',
 'Data Science,Machine Learning,Data Analytics,Python,Data Management',
 'Data Science,Machine Learning,Data Analytics,Artificial Intelligence,Python,NLP,Data Management',
 'Data Science,Data Analytics,R,Python,Big Data',
 'Data Management',
 'Data Analytics,Tableau,Data Visualization,Excel',
 'R,SAS',
 'Data Science,Tableau,Data Management',
 'Data Science,Machine Learning,Data Analytics,Python,SQL,Predictive Modeling',
 'Data Science,Machine Learning,Python',
 'Data Science,Data Analytics,R',
 'Data Science,Machine Learning,R,Python,C++,NLP,Data Management',
 'Data Science,Machine Learning,Data Analytics,Python,Statistical Analysis,Data Visualization,Hive',
 'Python,SQL,Computer science',
 'Data Science,Machine Learning,Artificial Intelligence,Big Data,Deep Learning,Data Management',
 'Data Science,Machine Learning,Data Analytics,Python',
 'SQL',
 'SQL,Data Management',
 'Data Analytics,R',
 'Data Analytics,R',
 'R,Python,SQL,Excel',
 'Data Management',
 'SQL',
 'Machine Learning,Data Analytics,Python,Tableau,Data Visualization',
 'Data Analytics,Python,Tableau,Big Data',
 'Data Analytics,SQL',
 'Data Science,Machine Learning,R,Statistics,Predictive Modeling',
 'Data Science,Machine Learning,R,Statistics,Predictive Modeling',
 'SQL',
 'Data Analytics,Data Warehousing,Data Management',
 'Data Science,R,Python,SQL,Tableau,Excel,Data Management',
 'Data mining',
 'R',
 'Data Science,Machine Learning,Data Analytics,SQL,Tableau,Data Visualization',
 'Data Science,Data Analytics,R,Python,SAS',
 'SQL,Business intelligence,Data quality',
 'Data Analytics,Python,SQL,Data Management',
 'Data Science,Artificial Intelligence,R,Python,SQL,C++',
 'Data Science,Machine Learning,Data Analytics,Python,Big Data,Hadoop',
 'Data Analytics,Python,SQL,Data Management',
 'Computer science,Data mining',
 'Data Analytics,R,Python,Data Management',
 'SQL',
 'Data Analytics,Python,SQL,Tableau,Excel',
 'SQL,Financial services',
 'Data Science,R,Python,SQL,Tableau,Data Visualization,Hadoop',
 'Data Science,Machine Learning,Python,Excel,Deep Learning',
 'Data Science,Machine Learning,Python,Deep Learning',
 'Data Analytics,SQL,SAS',
 '',
 'Data Analytics,R,Data Visualization,Excel,Data Management',
 'Data Science,Data Analytics,Python,Big Data,Hadoop',
 'Data Science,R,Python,SQL,Tableau',
 'R,Excel',
 'Data Science,Machine Learning,Python,Deep Learning',
 'Python,SQL,Financial services',
 'Machine Learning,Artificial Intelligence,Python',
 'Data Science,Python,Data Warehousing,Big Data,Hive,Hadoop',
 'Data Science,R,Python',
 'Data Science,Python,Big Data,Hadoop',
 'Data Science,Machine Learning,Python,Big Data,Hadoop',
 'Data Science,R,Python,SQL,Big Data,Hadoop,Data Management',
 'Data Analytics,R,Python,SQL,Data Visualization',
 'Data Analytics,SQL',
 'Machine Learning,Artificial Intelligence,R,Python,SQL,Excel,Data Management',
 'Excel,Data Management',
 'Data Analytics,SQL',
 'SQL,Tableau',
 'R,Excel,Macros',
 'Data Science,Machine Learning,R,Python,SQL,SAS,Predictive Modeling,Time Series,Deep Learning',
 'Data Science,Machine Learning,R,Python',
 'Data Science,Machine Learning,Data Analytics,Artificial Intelligence,Python,SQL,Statistics,Data Management',
 'Data Science,SQL',
 'Data Analytics,SQL,Tableau',
 'Data Science,Data Analytics,Python,Big Data,Deep Learning',
 'Data Science,Data Analytics,R,Python,Big Data,Deep Learning',
 'Machine Learning,NLP,Deep Learning',
 'Data Science,R,SQL,Tableau,Data Management',
 'Python,Business intelligence',
 'Data Science,Machine Learning,Data Analytics,R,Python,SQL,Big Data,NLP,Deep Learning',
 'Python,SQL',
 'Data Science,Data Analytics',
 'R,Open source',
 'Statistical Analysis,Big Data',
 'Data Science,Machine Learning,Data Analytics,Artificial Intelligence,Python,Big Data',
 '',
 'Machine Learning,R,Python,Big Data,Deep Learning,Hadoop,Data Management',
 'SQL',
 'R,Python,SQL,SAS,Computer science',
 'Data Analytics,Python,SQL',
 'Data Science,Data Analytics,Python,SAS,Data Management',
 'Data Science,Python,SAS,Statistics,Predictive Modeling,Data Management',
 'Data Science,Machine Learning,Data Analytics,Python,SQL,SAS,Data Visualization,Statistics',
 'Data Science,Data Analytics,Python,SAS,Statistics,Data Management',
 'Data Science,Machine Learning,Data Analytics,R,Python,SQL',
 'Python,SQL,Business intelligence,Machine learning',
 'Data Analytics,Big Data',
 'Python,SQL,Computer science,Data mining,Data quality,Machine learning,MATLAB',
 'Data Science,Machine Learning,Data Analytics,Python',
 'Data Science,R,Python',
 'Data Science,Time Series,NLP,Deep Learning,Data Management',
 'Data Science,Machine Learning,Artificial Intelligence,R,Python,NLP,Data Management',
 'Artificial Intelligence',
 'Data mining,Machine learning',
 'Python,Computer science',
 'Data Science,Data Analytics,Python,Big Data,Hadoop',
 'Data Science,Machine Learning,Data Analytics,Python,Tableau,C++,Data Visualization,Big Data,Deep Learning',
 'Data Science,Machine Learning,Data Analytics,Artificial Intelligence,Python,Big Data,Hadoop',
 'Data Science,Machine Learning,NLP',
 'Python,SQL,Data mining,Data quality,Machine learning',
 'Data Analytics,R,Python,SQL',
 'R',
 'Python,Computer science,Data mining,Machine learning,MATLAB',
 'Data Science,Machine Learning,Data Analytics,R,Python,SQL,Anomaly Detection,Statistics,NLP',
 'Data Analytics,SQL',
 'Data Science,Machine Learning,Data Analytics,R,Python,SQL',
 'R,Python,SQL,Data science',
 'Data Science,Data Analytics,Python,Excel',
 'Data Science,Machine Learning,Data Analytics,R,Python,Deep Learning',
 'Data Science,Data Analytics,Big Data,Hive',
 'Data Science,Python,Big Data,Hive,Data Management',
 'Machine learning',
 'Data Science,Machine Learning,Data Analytics,Big Data',
 'Data Science,Machine Learning,Data Analytics,Python,Big Data,Hadoop',
 'Data Science,Machine Learning,Data Analytics,Python,Big Data,Hadoop',
 'Data quality',
 'Python,C++',
 'SQL,Data mining,Machine learning,MATLAB',
 'Machine learning,Open source',
 '',
 'Data Analytics,R,Tableau,Excel',
 'Data Management',
 'Data Analytics,R,Data Management',
 'Data Science,Machine Learning,Artificial Intelligence,Python,SQL,Statistics,Data Management',
 'Data Science,Machine Learning,Artificial Intelligence,Python,SQL,Statistics,Data Management',
 'Data Science,Machine Learning,Python,SQL,Data Visualization,NLP,Data Management',
 'Data Science,Machine Learning,Artificial Intelligence,Python,SQL,Statistics',
 'Data Science,NLP,Deep Learning,Data Management',
 'Data Science,Machine Learning,Python,Deep Learning,Data Management',
 'Data Science,R,SQL,Tableau,Statistics,Hive,Hadoop',
 'Data Science,R,Python,Data Management',
 'Data Science,R,Python,Data Management',
 'R,SQL',
 'SQL',
 'Data Science,Machine Learning,Data Analytics,Python,SQL,Tableau,Anomaly Detection',
 'Data Science,Machine Learning,Data Analytics,Python,SQL,NLP,Data Management',
 'Data Science,Data Analytics,Data Management',
 'Data Analytics,R,Excel,Data Management',
 'Data Analytics,SQL,Tableau,Excel,Data Management',
 'Data Analytics,SQL,Tableau,Data Visualization,Excel,Predictive Modeling',
 'R,SQL,Computer science',
 'Data Analytics,Tableau,Data Visualization',
 'R,Python,Data Management',
 'Data Management',
 'Data Analytics,R,Data Visualization,Big Data,Hive,Hadoop',
 'R',
 'Data Analytics,Python',
 'R',
 'R,Data Management',
 'Data Analytics,R,Python,SQL,Tableau,Data Visualization,Excel',
 'Data Science,R,Python,Data Management',
 'Data Analytics,R,SQL,Statistics,Excel',
 'Tableau',
 'Data Science,Data Analytics,R,SQL,SAS',
 'Data Science,Machine Learning,Artificial Intelligence,Python,Statistical Analysis,Statistics,Big Data',
 'Data Science,Python',
 'Data Science,Machine Learning,R,Python,Deep Learning',
 'Data Science,Machine Learning,R,Python,SQL,Time Series',
 'Data Science,Machine Learning,Artificial Intelligence,R,Python',
 'Data Science,Machine Learning,Python',
 'Data Science,Machine Learning,R,Python,SQL,Statistical Analysis,Time Series',
 'Data Science,Machine Learning,Artificial Intelligence,R,Python,SQL',
 'Data Science,Machine Learning,Data Analytics,Python,SQL,Data Visualization,NLP,Data Management',
 'Data Science,Machine Learning,R,Python,SQL,Time Series',
 'Data Science,Machine Learning,R,Python,SQL,Time Series',
 'Data Science,Machine Learning,Data Analytics,Artificial Intelligence,Python,Big Data,NLP,Data Management',
 'Data Science,Machine Learning,Python',
 'Data Science,Data Analytics,Python,SQL,Big Data,Hive,Hadoop',
 'Data Analytics,R,Python,SQL',
 'R,SAS',
 'Data Analytics,Predictive Modeling',
 'Data Science,Machine Learning,Data Analytics,R,Python,Data Management',
 'Data Analytics,Data Management',
 'Financial services',
 'Data Science,Machine Learning,Python',
 'Python,SQL,Machine learning',
 'Data Science',
 '',
 'Data Science,Data Analytics,Python,SAS,Tableau,Statistics,Data Management',
 'Data Science,Machine Learning,R,Python,Big Data',
 'Data Science,Machine Learning,Data Analytics,Python,Data Management',
 'Data Science,Machine Learning,R,Statistical Analysis,Data Visualization,Time Series',
 'Data Science,Machine Learning,R,Python,Data Visualization',
 'Data Science,Big Data',
 'Data Science,Machine Learning,Python',
 'Data Science,Machine Learning,Deep Learning',
 'Data Science,Machine Learning,Artificial Intelligence,Python,Deep Learning',
 'Python,SQL,SCALA,Hadoop',
 'Data Science,R,Python,Big Data',
 'Data Science,R,Python,SQL,Tableau,Data Warehousing',
 'Data Science,Python,SQL,Big Data',
 'Computer science',
 'SAS',
 'SQL,Data quality',
 'R,SQL',
 'Data Science,Machine Learning,Data Analytics,Python,SQL,Data Management',
 'Data Science,Data Analytics,Python,SAS,Statistics,NLP,Data Management',

In [9]:
# We've created new column called 'Skills Separate' and was added to 'profiles'
profiles['Skills Separate'] = user_skills_str
profiles['Skills Separate'][0].split(',')

['Data Science',
 'Machine Learning',
 'R',
 'Python',
 'SQL',
 'SAS',
 'Tableau',
 'Statistics',
 'R Shiny']

In [10]:
# Set funcition which implements Lenvenshtein distance in order to indentify words matches
# Skills coincidences between job post skills and seeker skills
def check_skills(job_skills, candidate_skills):
  """ This function compares jobseekers skills 
  with job offer's. Returns list with Similarity level calculated by
  Levenshtein Distance.
  Example: 
  job_skills = `['Data Science','Data Analytics','Python']`
  candidate_skills = `['Data Science','Machine Learning',
                      'R','Python','SQL','SAS','Tableau',
                      'Statistics','R Shiny']`
  """
  match_skills = []
  for s in range(len(job_skills)):
    match_skills.append(sorted(dist.ilevenshtein(job_skills[s], candidate_skills)))
    words_coincidences = []
    for i in range(len(match_skills)):
      for j in range(len(match_skills[i])):
        for k in range(len(match_skills[i][j])):
          if (match_skills[i][j][k] == 0 or match_skills[i][j][k] == 5 
              or match_skills[i][j][k] == 8 or match_skills[i][j][k] == 10
              or match_skills[i][j][k] == 15):
          #if (match_skills[i][j][k] <= 10):
            words_coincidences.append(match_skills[i][j][k+1])
  return words_coincidences

In [11]:
# This piece of code evaluates matches between job skills and candidate skills
# by using Levenshtein distance and only showing those whose values are between
# 0 and 10. 
# i.e: If job post skills are: 'Machine Learning' and 'Data Analytics', so we
# expetc to getting candidates with related skills as result

skills_filter = []
skills_len = []
for u in range(len(user_skills)):
  skills_filter.append(check_skills(job_skills=skills_job_post, candidate_skills=user_skills[u]))
  skills_len.append(len(skills_filter[u]))
  print(skills_filter[u],skills_len[u])

['Data Science', 'Statistics', 'Data Science', 'R Shiny', 'Python', 'Tableau', 'Python', 'R Shiny', 'Data Science'] 9
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Artificial Intelligence', 'Python', 'Data Science'] 8
['Statistical Analysis', 'Python', 'Python', 'Azure cloud', 'Predictive Modeling'] 5
['Data extraction', 'Computer science', 'Business intelligence'] 3
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Data Science'] 7
['Data Management', 'Data Science', 'Statistical Analysis', 'Data Science', 'Python', 'Python', 'Data Science'] 7
['Data Analytics', 'Data Science', 'Data Warehousing', 'Data Science', 'Data Analytics', 'Data Warehousing', 'Python', 'Python', 'Data Science'] 9
['Macros', 'Business intelligence', 'Macros'] 3
['Macros', 'Business intelligence', 'Macros'] 3
['Data mining', 'Macros', 'Python', 'Python', 'Macros'] 5
['Data mining'] 1
['Data Science', 'Statistics', 'Data Science', 'Python', 'Tableau', 'Python', 'Data Science', 'Data Visualization'] 8
['Computer science', 'Python', 'Python'] 3
['Python', 'Python'] 2
['Data mining', 'Python', 'Python'] 3
['Python', 'Python'] 2
['Data Science', 'Data Science', 'Tableau', 'Data Science', 'Data Visualization'] 5
['Data extraction', 'Macros', 'Business intelligence', 'Macros'] 4
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Excel', 'Python', 'Python', 'Big Data', 'Data Science'] 9
['Data Science', 'Deep Learning', 'Data Science', 'Deep Learning', 'Hive', 'Python', 'Python', 'Data Science'] 8
[] 0
['Data Analytics', 'Data Management', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Tableau', 'Python', 'Big Data', 'Data Science', 'Predictive Modeling'] 11
['Data Analytics', 'Data Management', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Data Science', 'Predictive Modeling'] 9
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Data Science'] 7
['Data Science', 'Data Science', 'Excel', 'Tableau', 'Data Science'] 5
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Data Science'] 7
['Data Analytics', 'Data Science', 'Statistics', 'Data Science', 'Data Analytics', 'Excel', 'Python', 'Tableau', 'Python', 'Data Science'] 10
[] 0
['Data Management', 'Data Science', 'Data Warehousing', 'Data Science', 'Data Warehousing', 'Python', 'Tableau', 'Python', 'Data Science'] 9
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Data Science', 'Data Visualization'] 8
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Excel', 'Tableau', 'Data Science', 'Data Visualization'] 8
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Data Science'] 5
['Python', 'Python'] 2
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Data Science', 'Data Visualization'] 8
[] 0
['Python', 'Tableau', 'Python'] 3
[] 0
['Data Science', 'Data Science', 'Data Science'] 3
['Python', 'Python'] 2
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science'] 5
['Python', 'Business intelligence', 'Python'] 3
['Computer science', 'Python', 'Python'] 3
['Data Management', 'Data Science', 'Data Science', 'Excel', 'Python', 'Tableau', 'Python', 'Data Science'] 8
['Data Management', 'Data Science', 'Data Science', 'Excel', 'Python', 'Tableau', 'Python', 'Data Science'] 8
['Business intelligence'] 1
['Data Management', 'Data Science', 'Data Science', 'Excel', 'Python', 'Tableau', 'Python', 'Data Science'] 8
['Data Management', 'Data Science', 'Data Science', 'Excel', 'Python', 'Tableau', 'Python', 'Data Science'] 8
['Data Management', 'Data Science', 'Data Science', 'Excel', 'Python', 'Tableau', 'Python', 'Data Science'] 8
['Python', 'Python'] 2
['Data Science', 'Data Science', 'Python', 'Tableau', 'Python', 'Hadoop', 'Big Data', 'Data Science', 'Predictive Modeling'] 9
['Data Science', 'Statistics', 'Data Science', 'Python', 'Python', 'Data Science'] 6
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science'] 5
['Data Management', 'Data Science', 'Data Science', 'Excel', 'Python', 'Tableau', 'Python', 'Data Science'] 8
['Data Management', 'Data Science', 'Data Science', 'Excel', 'Python', 'Tableau', 'Python', 'Data Science'] 8
['Data Science', 'Data Science', 'Tableau', 'Data Science'] 4
['Data Management', 'Data Science', 'Data Science', 'Excel', 'Python', 'Tableau', 'Python', 'Data Science'] 8
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science', 'Predictive Modeling'] 6
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science', 'Predictive Modeling'] 6
['Data Science', 'Statistics', 'Data Science', 'Data Science'] 4
['Python', 'Python'] 2
['Data Analytics', 'Data Science', 'Statistics', 'Data Science', 'Data Analytics', 'Big Data', 'Data Science', 'Data Visualization'] 8
['Data Analytics', 'Data Science', 'Statistics', 'Data Science', 'Data Analytics', 'Big Data', 'Data Science', 'Data Visualization'] 8
['Data Science', 'Data Science', 'Excel', 'Big Data', 'Data Science'] 5
['Data Analytics', 'Data Management', 'Data Science', 'Data Science', 'Data Analytics', 'Data Science'] 6
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science'] 5
['Data Analytics', 'Data Science', 'Statistics', 'Data Science', 'Data Analytics', 'Big Data', 'Data Science', 'Data Visualization'] 8
['Data Analytics', 'Data Science', 'Statistics', 'Data Science', 'Data Analytics', 'Big Data', 'Data Science', 'Data Visualization'] 8
['Data Science', 'Data Science', 'Hive', 'Python', 'Python', 'Hadoop', 'Big Data', 'Data Science', 'Data Visualization'] 9
['Data Analytics', 'Data Management', 'Data Science', 'Data Science', 'Data Analytics', 'Data Science'] 6
['Data science', 'Data science'] 2
['Deep Learning', 'Deep Learning', 'Python', 'Python'] 4
['Data Science', 'Data Science', 'Data Science'] 3
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science', 'Predictive Modeling'] 6
['Data Analytics', 'Data Science', 'Statistical Analysis', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Big Data', 'Data Science'] 9
['Data Management', 'Data Science', 'Data Science', 'Python', 'Python', 'Big Data', 'Data Science', 'Data Visualization'] 8
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Big Data', 'Data Science'] 8
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science'] 5
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Data Science', 'Predictive Modeling'] 8
['Data Management', 'Data Science', 'Data Science', 'Python', 'Python', 'Big Data', 'Data Science', 'Data Visualization'] 8
[] 0
['Computer science', 'Python', 'Python'] 3
['Data Science', 'Statistics', 'Data Science', 'Data Science'] 4
['Data Science', 'Data Science', 'Python', 'Tableau', 'Artificial Intelligence', 'Python', 'Data Science'] 7
['Data Science', 'Data Science', 'Python', 'Python', 'Big Data', 'Data Science'] 6
['Data Science', 'Data Science', 'Data Science', 'Predictive Modeling'] 4
['Data Science', 'Data Science', 'Python', 'Tableau', 'Python', 'Data Science'] 6
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science'] 5
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science'] 5
['Data Science', 'Data Science', 'Python', 'Tableau', 'Python', 'Data Science'] 6
['Data Science', 'Data Science', 'Python', 'Tableau', 'Python', 'Big Data', 'Data Science'] 7
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science', 'Predictive Modeling'] 6
['Data Science', 'Statistics', 'Data Science', 'Python', 'Python', 'Data Science'] 6
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Hadoop', 'Data Science'] 8
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Big Data', 'Data Science', 'Predictive Modeling'] 9
['Excel', 'Python', 'Python'] 3
['Data Analytics', 'Data Analytics', 'Excel', 'Tableau', 'Data Visualization', 'Predictive Modeling'] 6
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Data Science'] 5
['Python', 'Python'] 2
['Data Analytics', 'Data Science', 'Data Warehousing', 'Data Science', 'Data Analytics', 'Data Warehousing', 'Python', 'Tableau', 'Python', 'Data Science'] 10
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Data Science'] 5
['Computer science', 'Python', 'Python'] 3
['Data Science', 'Data Warehousing', 'Data Science', 'Data Warehousing', 'Python', 'Python', 'Hadoop', 'Data Science'] 8
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Big Data', 'Data Science'] 8
['Data Science', 'Deep Learning', 'Data Science', 'Deep Learning', 'Python', 'Python', 'Data Science'] 7
['Data Science', 'Data Science', 'Data Science'] 3
['Data Science', 'Data Science', 'Excel', 'Big Data', 'Data Science'] 5
['Data Science', 'Data Science', 'Python', 'Python', 'Big Data', 'Data Science'] 6
['Data Science', 'Deep Learning', 'Data Science', 'Deep Learning', 'Python', 'Python', 'Data Science'] 7
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science'] 5
['Data Science', 'Deep Learning', 'Data Science', 'Deep Learning', 'Hive', 'Python', 'Artificial Intelligence', 'Python', 'Big Data', 'Data Science'] 10
['Data Analytics', 'Data Management', 'Data Science', 'Data Science', 'Data Analytics', 'Data Science', 'Predictive Modeling'] 7
['Data Science', 'Data Science', 'Python', 'Tableau', 'Artificial Intelligence', 'Python', 'Data Science'] 7
['Data Science', 'Data Science', 'Big Data', 'Data Science'] 4
['Data Science', 'Deep Learning', 'Data Science', 'Deep Learning', 'Python', 'Python', 'Data Science'] 7
['Data Science', 'Deep Learning', 'Data Science', 'Deep Learning', 'Python', 'Python', 'Data Science'] 7
['Data Science', 'Deep Learning', 'Data Science', 'Deep Learning', 'Python', 'Python', 'Data Science'] 7
['Data Analytics', 'Data Analytics', 'Python', 'Python'] 4
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Excel', 'Python', 'Tableau', 'Python', 'Data Science', 'Data Visualization', 'Predictive Modeling'] 11
['Python', 'Artificial Intelligence', 'Python'] 3
['Data Science', 'Deep Learning', 'Statistical Analysis', 'Data Science', 'R Shiny', 'Deep Learning', 'R Shiny', 'Data Science'] 8
[] 0
['Statistics', 'Computer science', 'Python', 'Python'] 4
['Statistics', 'Computer science', 'Python', 'Python'] 4
['Data Science', 'Data Science', 'Tableau', 'Data Science'] 4
['Data Analytics', 'Data Management', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Data Science'] 8
['Data Analytics', 'Data Management', 'Data Science', 'Statistics', 'Data Warehousing', 'Data Science', 'Data Analytics', 'Data Warehousing', 'Python', 'Artificial Intelligence', 'Python', 'Big Data', 'Data Science', 'Data Visualization'] 14
['Data Analytics', 'Data Management', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Data Science'] 8
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science'] 5
['Statistics'] 1
['Computer science'] 1
['Statistics', 'Python', 'Python'] 3
['Data mining', 'Statistics'] 2
['Data Science', 'Data Science', 'Python', 'Python', 'Big Data', 'Data Science'] 6
['Computer science', 'Python', 'Business intelligence', 'Python'] 4
['Data mining', 'Python', 'Python'] 3
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Hadoop', 'Big Data', 'Data Science'] 9
['Data Analytics', 'Data Science', 'Statistics', 'Data Science', 'Data Analytics', 'Artificial Intelligence', 'Big Data', 'Data Science'] 8
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Big Data', 'Data Science'] 6
[] 0
['Data Science', 'Data Science', 'Python', 'Python', 'Hadoop', 'Big Data', 'Data Science'] 7
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Data Science'] 7
['Data extraction', 'Data mining', 'Computer science', 'Python', 'Python'] 5
['Data extraction', 'Data mining', 'Computer science', 'Python', 'Python'] 5
['Data Science', 'Data Science', 'Hive', 'Python', 'Tableau', 'Python', 'Data Science'] 7
['Computer science', 'Python', 'Python'] 3
['Business intelligence'] 1
['Data Science', 'Data Science', 'Python', 'Tableau', 'Python', 'Data Science', 'Data Visualization'] 7
['Data Science', 'Data Science', 'Python', 'Artificial Intelligence', 'Python', 'Data Science', 'Predictive Modeling'] 7
[] 0
['Computer science', 'Python', 'Python'] 3
['Data Science', 'Statistics', 'Data Science', 'Python', 'Artificial Intelligence', 'Python', 'Data Science'] 7
['Python', 'Python'] 2
['Computer science', 'Python', 'Python'] 3
['Computer science', 'Python', 'Python'] 3
['Python', 'Python'] 2
['Computer science', 'Artificial Intelligence'] 2
['Deep Learning', 'Deep Learning', 'Python', 'Python'] 4
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science'] 5
['Python', 'Python'] 2
['Python', 'Python'] 2
['Data Science', 'Data Science', 'Data Science'] 3
[] 0
['Python', 'Python'] 2
[] 0
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science'] 5
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science'] 5
['Data Science', 'Deep Learning', 'Data Science', 'Deep Learning', 'Python', 'Python', 'Data Science', 'Data Visualization', 'Predictive Modeling'] 9
['Data Science', 'Deep Learning', 'Data Science', 'Deep Learning', 'Python', 'Artificial Intelligence', 'Python', 'Data Science', 'Predictive Modeling'] 9
['Data Science', 'Data Science', 'Data Science'] 3
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science'] 5
['Data Science', 'Statistics', 'Data Science', 'Python', 'Python', 'Data Science'] 6
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science'] 5
['Python', 'Python'] 2
['Data Analytics', 'Data Management', 'Data Science', 'Statistics', 'Data Science', 'Data Analytics', 'Data Science'] 7
['Data mining', 'Computer science', 'Python', 'Python'] 4
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science'] 5
['Computer science'] 1
['Data mining', 'Python', 'Python'] 3
['Computer science', 'Python', 'Python'] 3
['Computer science', 'Python', 'Python'] 3
['Computer science'] 1
['Data Science', 'Statistics', 'Data Science', 'Excel', 'Python', 'Tableau', 'Python', 'Data Science'] 8
['Data Science', 'Data Science', 'Data Science'] 3
['Data mining'] 1
['Computer science'] 1
['Python', 'Business intelligence', 'Python'] 3
['Computer science', 'Python', 'Python'] 3
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science'] 5
['Computer science', 'Python', 'Python'] 3
['Python', 'Python'] 2
['Data Analytics', 'Data Management', 'Data Science', 'Data Science', 'Data Analytics', 'Data Science'] 6
['Data Analytics', 'Data Management', 'Data Science', 'Data Science', 'Data Analytics', 'Data Science'] 6
['Computer science', 'Open source'] 2
['Data Analytics', 'Data Management', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Data Science', 'Predictive Modeling'] 9
['Data Analytics', 'Data Management', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Data Science'] 8
['Data Analytics', 'Data Management', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Data Science'] 8
['Data Analytics', 'Data Management', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Data Science'] 8
['Data Analytics', 'Data Management', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Data Science'] 8
['Data Analytics', 'Data Management', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Data Science'] 8
['Data Analytics', 'Data Management', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Artificial Intelligence', 'Python', 'Data Science'] 9
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Big Data', 'Data Science'] 8
['Data Management'] 1
['Data Analytics', 'Data Analytics', 'Excel', 'Tableau', 'Data Visualization'] 5
[] 0
['Data Management', 'Data Science', 'Data Science', 'Tableau', 'Data Science'] 5
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Data Science', 'Predictive Modeling'] 8
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science'] 5
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Data Science'] 5
['Data Management', 'Data Science', 'Data Science', 'Python', 'Python', 'Data Science'] 6
['Data Analytics', 'Data Science', 'Statistical Analysis', 'Data Science', 'Data Analytics', 'Hive', 'Python', 'Python', 'Data Science', 'Data Visualization'] 10
['Computer science', 'Python', 'Python'] 3
['Data Management', 'Data Science', 'Deep Learning', 'Data Science', 'Deep Learning', 'Artificial Intelligence', 'Big Data', 'Data Science'] 8
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Data Science'] 7
[] 0
['Data Management'] 1
['Data Analytics', 'Data Analytics'] 2
['Data Analytics', 'Data Analytics'] 2
['Excel', 'Python', 'Python'] 3
['Data Management'] 1
[] 0
['Data Analytics', 'Data Analytics', 'Python', 'Tableau', 'Python', 'Data Visualization'] 6
['Data Analytics', 'Data Analytics', 'Python', 'Tableau', 'Python', 'Big Data'] 6
['Data Analytics', 'Data Analytics'] 2
['Data Science', 'Statistics', 'Data Science', 'Data Science', 'Predictive Modeling'] 5
['Data Science', 'Statistics', 'Data Science', 'Data Science', 'Predictive Modeling'] 5
[] 0
['Data Analytics', 'Data Management', 'Data Warehousing', 'Data Analytics', 'Data Warehousing'] 5
['Data Management', 'Data Science', 'Data Science', 'Excel', 'Python', 'Tableau', 'Python', 'Data Science'] 8
['Data mining'] 1
[] 0
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Tableau', 'Data Science', 'Data Visualization'] 7
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Data Science'] 7
['Business intelligence'] 1
['Data Analytics', 'Data Management', 'Data Analytics', 'Python', 'Python'] 5
['Data Science', 'Data Science', 'Python', 'Artificial Intelligence', 'Python', 'Data Science'] 6
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Hadoop', 'Big Data', 'Data Science'] 9
['Data Analytics', 'Data Management', 'Data Analytics', 'Python', 'Python'] 5
['Data mining', 'Computer science'] 2
['Data Analytics', 'Data Management', 'Data Analytics', 'Python', 'Python'] 5
[] 0
['Data Analytics', 'Data Analytics', 'Excel', 'Python', 'Tableau', 'Python'] 6
[] 0
['Data Science', 'Data Science', 'Python', 'Tableau', 'Python', 'Hadoop', 'Data Science', 'Data Visualization'] 8
['Data Science', 'Deep Learning', 'Data Science', 'Deep Learning', 'Excel', 'Python', 'Python', 'Data Science'] 8
['Data Science', 'Deep Learning', 'Data Science', 'Deep Learning', 'Python', 'Python', 'Data Science'] 7
['Data Analytics', 'Data Analytics'] 2
[] 0
['Data Analytics', 'Data Management', 'Data Analytics', 'Excel', 'Data Visualization'] 5
['Data Analytics', 'Data Science', 'Data Science', 'Data Analytics', 'Python', 'Python', 'Hadoop', 'Big Data', 'Data Science'] 9
['Data Science', 'Data Science', 'Python', 'Tableau', 'Python', 'Data Science'] 6
['Excel'] 1
['Data Science', 'Deep Learning', 'Data Science', 'Deep Learning', 'Python', 'Python', 'Data Science'] 7
['Python', 'Python'] 2
['Python', 'Artificial Intelligence', 'Python'] 3
['Data Science', 'Data Warehousing', 'Data Science', 'Data Warehousing', 'Hive', 'Python', 'Python', 'Hadoop', 'Big Data', 'Data Science'] 10
['Data Science', 'Data Science', 'Python', 'Python', 'Data Science'] 5
['Data Science', 'Data Science', 'Python', 'Python', 'Hadoop', 'Big Data', 'Data Science'] 7

## Candidatos recomendados segun Skills requeridos

In [12]:
df_skills = pd.DataFrame({'Skills': skills_filter, 'Skills_Matchs': skills_len})
df_skills['Index_Skills'] = df_skills.index
Skills_table = df_skills.sort_values('Skills_Matchs', ascending=False).head(20)
Skills_table

,Skills,Skills_Matchs,Index_Skills
125,"[Data Analytics, Data Management, Data Science...",14,125
303,"[Data Analytics, Data Science, Deep Learning, ...",12,303
21,"[Data Analytics, Data Management, Data Science...",11,21
117,"[Data Analytics, Data Science, Data Science, D...",11,117
272,"[Data Analytics, Data Science, Deep Learning, ...",10,272
209,"[Data Analytics, Data Science, Statistical Ana...",10,209
254,"[Data Science, Data Warehousing, Data Science,...",10,254
26,"[Data Analytics, Data Science, Statistics, Dat...",10,26
268,"[Data Analytics, Data Management, Data Science...",10,268
271,"[Data Analytics, Data Science, Deep Learning, ...",10,271
405,"[Data Analytics, Data Management, Data Science...",10,405
304,"[Data Analytics, Data Science, Data Science, D...",10,304
372,"[Data Analytics, Data Management, Data Science...",10,372
374,"[Data Analytics, Data Science, Data Science, D...",10,374
276,"[Data Analytics, Data Science, Deep Learning, ...",10,276
109,"[Data Science, Deep Learning, Data Science, De...",10,109
385,"[Data Analytics, Data Management, Data Science...",10,385
98,"[Data Analytics, Data Science, Data Warehousin...",10,98
49,"[Data Science, Data Science, Python, Tableau, ...",9,49
649,"[Data Management, Data Science, Data Science, ...",9,649

# Recomendación de candidatos por años de experiencia

In [13]:
candidate_experiences = profiles['Experience']
candidate_experiences.tail(25)

655      3 - 8 years
656     6 - 11 years
657      3 - 6 years
658     5 - 10 years
659    10 - 16 years
660      0 - 3 years
661      5 - 7 years
662      2 - 4 years
663      5 - 6 years
664     7 - 10 years
665      2 - 5 years
666      3 - 7 years
667     9 - 12 years
668      2 - 3 years
669     5 - 10 years
670      3 - 6 years
671      1 - 4 years
672      3 - 5 years
673      2 - 7 years
674     7 - 12 years
675      4 - 7 years
676     5 - 10 years
677      2 - 5 years
678      1 - 2 years
679      2 - 4 years
Name: Experience, dtype: object

In [14]:
#  build a function that check candidate's experience by Levenshtein distance
def check_experience(job_experience, candidate_experiences):
  """ This function compares experience (years) of jobseekers 
  with job offer. Returns dataframe with Similarity level calculated by
  Levenshtein Distance.
  Example: 
  job_experience = `2 - 3 years`
  candidate_experiences = `['0-3 years', '2-5 years', '5-6 years']`
  """
  coincidences = []
  match_experiences = []
  for i in range(len(candidate_experiences)):
    match_experiences.append(dist.levenshtein(candidate_experiences[i], job_experience))
  df_data = pd.DataFrame(match_experiences, columns=['Similarity'])
  return df_data

In [15]:
experience_filter = check_experience(job_experience=experience_job_post, 
                                     candidate_experiences=candidate_experiences)
# Display best matches by index and similarity
experience_filter['Index_Experience'] = experience_filter.index
Experience_table = experience_filter.sort_values(['Similarity', 'Index_Experience'], 
                                                 ascending=[True, True]).head(20)
Experience_table

     Similarity  Index_Experience
4             0                 4
339           0               339
478           0               478
532           0               532
596           0               596
598           0               598
668           0               668
0             1                 0
1             1                 1
2             1                 2
10            1                10
11            1                11
14            1                14
20            1                20
23            1                23
31            1                31
36            1                36
40            1                40
49            1                49
59            1                59

In [16]:
def check_title(job_title, candidate_titles):
  """ This function compares jobseekers title 
  with job offer's. Returns list with Similarity level calculated by
  Levenshtein Distance.
  Example: 
  job_title = `Technical Analyst - Data Science`
  candidate_titles = `['Business Analyst Data Science & Analytics', 
                        'Data Analyst - Data Science & Analytics', 
                        'Technical Analyst - Data Science']`
  """
  title_list = []
  coincidences = []
  match_titles = []
  data_temp = []
  for i in range(len(candidate_titles)):
    title_list.append(candidate_titles[i].split('-'))
  for j in range(len(title_list)):
    match_titles.append(dist.ilevenshtein(title_job_post,title_list[j]))
  for k in range(len(match_titles)):
    data_temp.append(match_titles[k])
  return data_temp

In [17]:
# display results by titles
candidate_titles = profiles['Title']
title_filter = check_title(job_title=title_job_post, candidate_titles=candidate_titles)
df_title_filter = pd.DataFrame(title_filter, columns=['1st Title', '2nd Title', '3rd Title', '4th Title'])
df_title_filter.head(10)

,1st Title,2nd Title,3rd Title,4th Title
0,"(20, Senior Analyst )","(20, Data Science )","(28, Iit/nit/iim/xlri/fms)",None
1,"(20, Senior Analyst )","(19, Data Science)",None,None
2,"(21, Business Analyst Data Science & Analytics)",None,None,None
3,"(22, Data Analyst )","(25, Data Science & Analytics)",None,None
4,"(14, Technical Analyst )","(19, Data Science)",None,None
5,"(25, Data Science Analyst )",None,None,None
6,"(46, Analyst Manufacturing Data Analytics (Mac...",None,None,None
7,"(20, Senior Analyst, Data Science & Analytics)",None,None,None
8,"(20, Senior Analyst, Data Science & Analytics)",None,None,None
9,"(24, Analyst )","(19, Data Science)",None,None

In [18]:
def get_distance_number(df):
  """ This function gets 1st title Levenshtein number from `check_title()`.
  Returns a data frame with all numbers
  """
  n = []
  for i in range(len(df)):
    n.append(df.iloc[i][0][0])
  df_out = pd.DataFrame(n)
  return df_out

In [19]:
df_title_filter['Number'] = get_distance_number(df_title_filter)

In [20]:
df_title_filter.head()

,1st Title,2nd Title,3rd Title,4th Title,Number
0,"(20, Senior Analyst )","(20, Data Science )","(28, Iit/nit/iim/xlri/fms)",None,20
1,"(20, Senior Analyst )","(19, Data Science)",None,None,20
2,"(21, Business Analyst Data Science & Analytics)",None,None,None,21
3,"(22, Data Analyst )","(25, Data Science & Analytics)",None,None,22
4,"(14, Technical Analyst )","(19, Data Science)",None,None,14

In [21]:
# Add 'Competency' column and identify if candidates are suitable for job offer based on
# their titles 
df_title_filter['Competency'] = df_title_filter.Number.map(
    lambda x: 'Suitable' if x <= 20 else 'Non-suitable')
# we've selected all titles whose Levenshtein number is less than or equel to 20

In [22]:
df_title_filter['Index_Title'] = df_title_filter.index
Title_table = df_title_filter.sort_values('Number', ascending=True).head(20)
Title_table

,1st Title,2nd Title,3rd Title,4th Title,Number,Competency,Index_Title
13,"(13, Analyst (Data Science))",None,None,None,13,Suitable,13
4,"(14, Technical Analyst )","(19, Data Science)",None,None,14,Suitable,4
307,"(14, Senior Data Analyst / Data Scientist)",None,None,None,14,Suitable,307
594,"(15, Senior Analyst , Data Analytics)",None,None,None,15,Suitable,594
643,"(15, Data Analysts / Data Scientists)",None,None,None,15,Suitable,643
517,"(16, Senior Analyst, Data Analytics)",None,None,None,16,Suitable,517
125,"(17, Data Engineer / Data Science )","(24, Big Data Engineer)",None,None,17,Suitable,125
311,"(18, Data Analyst/Sr.Data Engineer)",None,None,None,18,Suitable,311
394,"(18, Senior/ Lead Data Scientist)",None,None,None,18,Suitable,394
669,"(18, Principal Analyst Supply Chain)",None,None,None,18,Suitable,669
117,"(19, Data Analyst Trainer )","(29, Part Time Weekdays & Weekends)",None,None,19,Suitable,117
266,"(19, Senior & Junior Data Scientist)",None,None,None,19,Suitable,266
515,"(19, Need Data Analyst (MBA Finance))","(30, Luthra Group, Surat Corporate Office)",None,None,19,Suitable,515
291,"(19, Senior Engineer Data Scientist )","(31, TPG)",None,None,19,Suitable,291
576,"(19, Lead /Manager Data Scientist)",None,None,None,19,Suitable,576
222,"(19, Data Analyst | Nike)",None,None,None,19,Suitable,222
136,"(19, Principal Data Scientist)",None,None,None,19,Suitable,136
479,"(19, Data Analyst HR Data Analytics )","(27, Opportunities )",None,None,19,Suitable,479
382,"(19, Principal Data Scientist)",None,None,None,19,Suitable,382
381,"(19, Software Engineer ( Data Science ))",None,None,None,19,Suitable,381

In [23]:
# concatenate selected candidates (by indexes) and show them up as dataframe
df_table = pd.concat([Title_table['Index_Title'], 
                      Experience_table['Index_Experience'], 
                      Skills_table['Index_Skills']], 
                     axis=1)
df_table

     Index_Title  Index_Experience  Index_Skills
0            NaN               0.0           NaN
1            NaN               1.0           NaN
2            NaN               2.0           NaN
4            4.0               4.0           NaN
10           NaN              10.0           NaN
11           NaN              11.0           NaN
13          13.0               NaN           NaN
14           NaN              14.0           NaN
20           NaN              20.0           NaN
21           NaN               NaN          21.0
23           NaN              23.0           NaN
26           NaN               NaN          26.0
31           NaN              31.0           NaN
36           NaN              36.0           NaN
40           NaN              40.0           NaN
49           NaN              49.0          49.0
59           NaN              59.0           NaN
98           NaN               NaN          98.0
109          NaN               NaN         109.0
117        117.0               NaN         117.0
125        125.0               NaN         125.0
136        136.0               NaN           NaN
209          NaN               NaN         209.0
222        222.0               NaN           NaN
254          NaN               NaN         254.0
266        266.0               NaN           NaN
268          NaN               NaN         268.0
271          NaN               NaN         271.0
272          NaN               NaN         272.0
276          NaN               NaN         276.0
291        291.0               NaN           NaN
303          NaN               NaN         303.0
304          NaN               NaN         304.0
307        307.0               NaN           NaN
311        311.0               NaN           NaN
339          NaN             339.0           NaN
372          NaN               NaN         372.0
374          NaN               NaN         374.0
381        381.0               NaN           NaN
382        382.0               NaN           NaN
385          NaN               NaN         385.0
394        394.0               NaN           NaN
405          NaN               NaN         405.0
478          NaN             478.0           NaN
479        479.0               NaN           NaN
515        515.0               NaN           NaN
517        517.0               NaN           NaN
532          NaN             532.0           NaN
576        576.0               NaN           NaN
594        594.0               NaN           NaN
596          NaN             596.0           NaN
598          NaN             598.0           NaN
643        643.0               NaN           NaN
649          NaN               NaN         649.0
668          NaN             668.0           NaN
669        669.0               NaN           NaN

In [24]:
# search for coincidences and show results

# Create two list: `Index_Title` and `Index_Skills`
T_1 = list(Title_table['Index_Title'])
T_2 = list(Skills_table['Index_Skills'])

#  checks if `Index_Experience` is in `Index_Title` and saves it in variable
f_1 = df_table['Index_Experience'].isin(T_1)
Candidate_by_Experience = f_1.index[f_1]

#  checks if `Index_Skills` is in `Index_Title` and saves it in variable
f_2 = df_table['Index_Skills'].isin(T_1)
Candidate_by_Skills = f_2.index[f_2]

#  checks if `Index_Experience` is in `Index_Skills` and saves it in variable
f_3 = df_table['Index_Experience'].isin(T_2)
Candidate_by_skills_experience = f_3.index[f_3]

In [25]:
print(
    f'Mejores candidatos por Experiencia y Título :',Candidate_by_Experience.values, '\n',
    f'Mejores candidatos por Skills y Título :',Candidate_by_Skills.values,'\n',
    f'Mejores candidatos entre Experiencia y Skills :', Candidate_by_skills_experience.values
    )

Mejores candidatos por Experiencia y Título : [4]
 Mejores candidatos por Skills y Título : [117 125]
 Mejores candidatos entre Experiencia y Skills : [49]

In [26]:
profiles.loc[Candidate_by_Experience.values]

,Title,Company,Experience,Location,key_Skills,Graduation,Post_Graduation,Salary_assumed,Skills Separate
4,Technical Analyst - Data Science,Nepa Production India Pvt Ltd,2 - 3 years,Mumbai,Data ScienceData AnalyticsPython,"BCA in Any Specialization, B.Sc in Any Special...","M.Tech in Any Specialization, MCA in Any Speci...",Not Disclosed,"Data Science,Data Analytics,Python"

In [27]:
profiles.loc[Candidate_by_Skills.values]

,Title,Company,Experience,Location,key_Skills,Graduation,Post_Graduation,Salary_assumed,Skills Separate
117,Data Analyst Trainer - Part Time Weekdays &...,GABA Consultancy services,6 - 11 years,Gurgaon/Gurugram,Predictive ModelingPower BiBusiness AnalyticsS...,B.Tech/B.E. in Any Specialization,NaN,"₹ 3,00,000 - 3,50,000 P.A.","Data Science,Data Analytics,R,Python,SQL,Table..."
125,Data Engineer / Data Science - Big Data Engineer,Inflexion Analytix Private Limited,0 - 3 years,Hyderabad/Secunderabad,Data EngineeringPower BiArtificial Intelligenc...,"BFA in Any Specialization, Any Graduate, B.Sc ...","MBA/PGDM in Any Specialization, Any Postgradua...","₹ 3,25,000 - 4,25,000 P.A.","Data Science,Machine Learning,Data Analytics,A..."

In [28]:
profiles.loc[Candidate_by_skills_experience.values]

,Title,Company,Experience,Location,key_Skills,Graduation,Post_Graduation,Salary_assumed,Skills Separate
49,Data Analyst,Continuum Global,2 - 4 years,Gurgaon/Gurugram,Data SciencePredictive ModelingData ScientistH...,Any Graduate,Any Postgraduate,Not Disclosed,"Data Science,Python,Tableau,Big Data,Predictiv..."

In [29]:
%%shell
jupyter nbconvert --to html /content/Levenshtein_distance.ipynb

[NbConvertApp] Converting notebook /content/Levenshtein_distance.ipynb to html
[NbConvertApp] Writing 475893 bytes to /content/Levenshtein_distance.html